*{
	
	line-height: 25px;
}


.slider h3,
.slider h5,
{
	text-shadow: 3px 3px 10px black !important;
}

.parallax-container {
	height: 200px !important;
}

.parallax-buatan {
  background-image: url("img/bg.jpg");
  min-height: 500px;  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media(max-width: 600px){
	.parallax-container {
	height: 400px !important;
}
	.material-icons {
		padding-top: 0px !important;
	}
	.brand-logo{
		margin-top: 0px !important;
		text-align: center;
	}
	
}


 .clients h3{
text-shadow: 1px 2px 10px black !important;
}

.parallax img {
	opacity: .7 !important ;
}

.gambar img {
	width: 160px;
	filter: drop-shadow(1px 1px 1px black);
}

section {
	padding: 20px 0;
}

footer {
	padding: 5px 0;
}

.card-panel{
	cursor: pointer;
}

.card-panel:hover{
	transform: scale(1.1);
	transition: .4 s;
}